{
  "all_rules":
  {% if rules.[ec2_security_type].ports is defined %}
  {{ rules. 114-1738062-0478609  114-1738062-0478609 [ec2_security_type].ports | to_nice_json }}
  {% else %}
  {{ rules.common.ports | to_nice_json }}
  {% endif %}
}